.container#party-index
  .col-md-4
    %h3
      %i.fa.fa-map-marker
      Parties Near You
      |
      = link_to 'create', new_party_path
    - @parties.each do |party|
      = link_to party do
        .party-container
          %h4.title= party.title
          %p.address= party.address
          %p.age= "Minimum Age: #{party.min_age}"
          %p= party.description
          -# if current_user is the host!
          -# = link_to 'Edit', edit_party_path(party)
          -# = link_to 'Destroy', party, method: :delete, data: { confirm: 'Are you sure?'
  .col-md-8
    #map{:style => "width: 1000px; height: 930px;"}
    %p= "Location: #{@location.inspect}"

= render 'partials/maps'

:javascript
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers(#{raw @hash.to_json});
    handler.bounds.extendWith(markers);
    handler.getMap().setZoom(15);
    handler.getMap().setOptions({styles: styles});
    handler.getMap().setCenter(new google.maps.LatLng(#{@lat}, #{@long}));
  });
