.container
  %h3 Edit Profile
  .row
    .col-md-4
      = form_for(current_user.profile, url: profile_path, html: { method: :put }) do |f|
        - if current_user.errors.any?
          .alert-container
            %h4= pluralize(current_user.errors.count, "error!")
            %ul.alert
              - current_user.errors.full_messages.each do |message|
                %li= message
        .field{style: 'margin-top: 15px;'}
          .form-group
            - if f.object.avatar.exists?
              = image_tag f.object.avatar.url(:medium)
            - else
              = image_tag 'missing.png'
            %br
            %br
            = f.label :avatar, 'profile pic'
            = f.file_field :avatar, class: 'form-control'

        .field
          .form-group
            = f.label :fname, 'first name'
            = f.text_field :fname, class: 'form-control'
        .field
          .form-group
            = f.label :lname, 'last name'
            = f.text_field :lname, class: 'form-control'
        .field
          .form-group
            = f.label :username, 'username'
            = f.text_field :username, class: 'form-control'
        .field
          .form-group
            = f.label :location, 'location'
            = f.text_field :location, class: 'form-control'
        .field
          .form-group
            = f.label :gender, 'gender'
            = f.select(:gender, %w[Male Female Other], {prompt: '---'}, class: "form-control")
        .field
          .form-group
            = f.label :about, 'about'
            = f.text_area :about, :maxlength => 200, class: 'form-control'
        .field
          .form-group
            = f.label :guest, 'Guest?'
            = f.check_box :guest
        .field
          .form-group
            = f.label :host, 'Host?'
            = f.check_box :host
        .actions
          = f.submit 'update', class: 'btn btn-primary'

      %h3{style: 'margin-top: 30px;'} Deactivate
      #{button_to "goodbye", @user, data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-primary'}
  .row.back
    = link_to '<< Back', profile_path
