.container#profile
  .row.panel
    .col-md-4.bg-prof
      %i.fa.fa-thumbs-up#up
      %i.fa.fa-thumbs-down#down
      %a.follow{href: "#"} follow
    .col-md-8.col-xs-12
      -# Dry this up...
      - if current_user.profile.avatar.exists?
        = image_tag current_user.profile.avatar.url(:square), class: 'pic hidden-xs'
        = image_tag current_user.profile.avatar.url(:square), class: 'm-pic visible-xs'
      - else
        = image_tag 'missing.png', class: 'pic hidden-xs'
        = image_tag 'missing.png', class: 'm-pic visible-xs'
      .header
        %h3= "#{current_user.profile.fname}" + " " + "#{current_user.profile.lname}"
        %h4= "#{current_user.profile.location}"
        %span
          = "#{current_user.profile.about}"
  %p= current_user.inspect
  %p= current_user.profile.inspect

  = link_to 'Edit', profile_edit_path
